@use '../base/colors' as colors;
@use '../base/mixins' as mixins;

.button {
  transition: all ease-in 85ms, background-color ease-out 150ms;

  padding: 16px 32px;
  border: 2.5px solid gray;
  border-radius: 8px;

  color: darken(gray, 10%);
  font-size: 18px;
  font-weight: 500;

  display: block;
  width: 90%;
  margin: 0 auto;

  @include mixins.tablet() {
    padding: 20px 32px;
    width: 256px;
    font-size: 20px;
  }

  &:hover {
    cursor: pointer;
  }
}

.button-index {
  border-color: transparent;
  color: colors.$color--white;
  background-color: darken(colors.$color--helper-darker, 10%);
  filter: drop-shadow(0 4px 6px darken(colors.$color--helper-darker, 10%)) drop-shadow(0 2px 4px rgba(0, 0, 0, 0.06));

  &:hover {
    background-color: colors.$color--helper-darker;
    filter: drop-shadow(0 4px 6px colors.$color--helper-darker) drop-shadow(0 2px 4px rgba(0, 0, 0, 0.06));
  }
}

button.transaction-button {
    /* Remover algunos estilos de primereact */
    outline: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    position: fixed;
    right: 16px;
    bottom: 100px;

    height: 72px;
    width: 72px;

    @include mixins.laptop {
        height: 82px;
        width: 82px;
    }
    
    @include mixins.laptop {
        bottom: 32px;
    }

    & > .p-button-icon {
        font-weight: lighter;
        font-size: 32px;
    }
}