/**
============
  Colors
============
*/

$color--main: rgba(38, 137, 96, 255);
$color--support: rgba(99, 159, 134, 255);
$color--helper: rgba(94, 237, 110, 255);
$color--white: rgba(250, 250, 250, 255);