@use "colors" as colors;
@use "typography" as typography;
@use "mixins" as mixins;

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: typography.$font--paragraph !important;
  font-weight: 400;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: typography.$font--title !important;
  font-weight: 500;
  margin: 0;
}

h1 {

  font-size: 4rem;
  color: colors.$color--main;
  font-weight: 900;

  &.index {
    color: colors.$color--white;
    text-shadow: typography.$font--shadow;
    font-size: 3rem;

    @include mixins.tablet {
      font-size: 4.5rem;
    }
  }
}

strong {
  color: colors.$color--helper;
}

h2 {
  font-size: 3rem;

  &.index {
    color: colors.$color--white;
    text-shadow: typography.$font--shadow;
    font-size: 2.5rem;

    @include mixins.tablet {
      font-size: 4rem;
    }
  }
}