@use "colors" as colors;
@use "typography" as typography;
@use "mixins" as mixins;

html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: typography.$font--paragraph !important;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: typography.$font--title !important;
    font-weight: 500;
    margin: 0;
}

h1 {

    font-size: 40px;
    color: colors.$color--black;
    font-weight: 900;

    &.index {
        color: colors.$color--white;
        text-shadow: typography.$font--shadow;
        font-size: 30px;

        @include mixins.tablet {
            font-size: 45px;
        }
    }

    &>span {
        color: colors.$color--main;
    }
}

strong {
    color: colors.$color--helper;
}

h2 {
    font-size: 30px;

    &.index {
        color: colors.$color--white;
        text-shadow: typography.$font--shadow;
        font-size: 25px;

        @include mixins.tablet {
            font-size: 40px;
        }
    }
}

h1 > span, p > span {
    color: colors.$color--main;
    font-weight: 700;
}