@use '../base/colors' as colors;
@use '../base/mixins' as mixins;

.hero {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 25vh;
  width: 100vw;
  z-index: -100;

  background-image: url("/img/hero-1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1);
}

.hero__content {
  background-color: rgba(0, 0, 0, 0.7);
}

.join-button-container {
  position: absolute;
  height: 150vh;
  width: 100vw;
}

.button {
  transition: all ease-in 85ms, background-color ease-out 150ms;

  padding: 16px 32px;
  border: 2.5px solid gray;
  border-radius: 8px;

  color: darken(gray, 10%);
  font-size: 18px;
  font-weight: 500;

  display: block;
  width: 90%;
  margin: 0 auto;

  @include mixins.tablet() {
    padding: 20px 32px;
    width: 256px;
    font-size: 20px;
  }

  &:hover {
    cursor: pointer;
  }
}

.button-index {
  border-color: transparent;
  color: colors.$color--white;
  background-color: darken(colors.$color--helper-darker, 10%);
  filter: drop-shadow(0 4px 6px darken(colors.$color--helper-darker, 10%)) drop-shadow(0 2px 4px rgba(0, 0, 0, 0.06));

  &:hover {
    background-color: colors.$color--helper-darker;
    filter: drop-shadow(0 4px 6px colors.$color--helper-darker) drop-shadow(0 2px 4px rgba(0, 0, 0, 0.06));
  }
}